@import url('https://fonts.googleapis.com/css2?family=Mada&family=Maitree&family=Mulish:wght@900&display=swap');


html {
    font-family: 'Mada', sans-serif;
    font-family: 'Maitree', serif;
    font-family: 'Mulish', sans-serif;
}

label{
    font-family: 'Mulish';
    padding: 10px;
}

a{
    font-family: Mada;
}

.display{
    display: inline-block;
}

.create {
    width: 100%;
}


.footer {
    background-color: #bee5bf;
    text-align: center;
}

.top {
    background-color:#bee5bf;
}

.container-fluid {
    padding-left: 0px;
}

h1 {
    margin-top: 10px;
    font-size: 2rem;
    font-family: mulish;
}

.nav-bar {
    padding-left: 0px;
}

.nav-link {
    color:black;
}

.form {
    background: #f5f5f5;
    height: 100%;
    padding: 40px;
}

h2 {
    text-align: center; 
    font-family: mulish; 
    color: #E88D76; 
    font-size: 3em;
}

.flex_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.flex_item1{
    width: 100%;
    margin-top: 5vh;
}

.flex_items{
    width: 85%;
    height: 25vh;
    margin-top: 5vh;
    background-color: #FFD1BA;
    border: 3px solid #1B2021;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 40% 60%;
}

.picture-item{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-item{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    font-family: Mada;
    text-decoration: underline;
}

.favorite-star{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.star{
    color: white;
    transition: color 300ms;
}

.star:hover, .star:active, .star:focus{
    color:black;
}

.star2{
    color: black;
    transition: color 300ms;
}

.star2:hover, .star2:active, .star2:focus{
    color:white;
}

p{
    font-family: Mada;
}

.description{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot{
    margin-top: 5vh;
}

button {
    background-color: #7C90A0;
    border: 0;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 25px;
    margin-top: 30px;
    font-size: 1.2rem;
}
  
.modal-container {
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
  
.myModal {
    background-color: white;
    max-width: 100%;
    padding: 30px 50px;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    min-width: 300px;
    min-height: 200px;
    border-radius: 5px;
    border: solid black;
    border-width: 2px;
}
  
.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}
  
button:hover {
    background-color: #BEE5BF;
}
  
button:focus {
    background-color: #BEE5BF;
}
  
.items {
    display: flex;
    gap: 3px;
    align-items: center;
}
  
.items2 {
    display: flex;
    margin-top: 10px;
    gap: 3px;
    align-items: center;
}